/Platforms/Windows/.vs
/DataTree.xml
/Editor.exe
/Editor.pdb
/Editor_dbg.exe
/Editor_dbg.ilk
/Editor_dbg.pdb
/Editor_fast_dbg.exe
/Editor_fast_dbg.ilk
/Editor_fast_dbg.pdb
/log.txt
/PetStory.exe
/PetStory.pdb
/PetStory_dbg.exe
/PetStory_dbg.ilk
/PetStory_dbg.pdb
/PetStory_fast_dbg.exe
/PetStory_fast_dbg.ilk
/PetStory_fast_dbg.pdb
/BuiltAssets
/Platforms/Windows/Temp
/Platforms/Windows/Tmp
/Platforms/Windows/log.txt
/Platforms/Windows/App.vcxproj.user
/Platforms/Windows/DataTree.xml
/Platforms/Windows/EditorApp.vcxproj.user
/AssetsTree.xml
/Platforms/Windows/BuiltAssets.xml
/Platforms/Windows/GameEditorLib.vcxproj.user
/Platforms/Windows/GameLib.vcxproj.user
/.vs
/Platforms/Windows/PetStory.sln.DotSettings.user
/Sources/Editor/CodeToolCache.xml
/Sources/Game/CodeToolCache.xml
/PetStory.iobj
/PetStory.ipdb
/Platforms/Windows/x64/Debug/Tests.pdb
/Tests.pdb
/Tests_dbg.ilk
/Tests_dbg.pdb
/Tests_fast_dbg.ilk
/Tests_fast_dbg.pdb
/Tests_fast_dbg.exe
*.DS_Store
PetStory.app.dSYM
XCBuildData
Platforms/Mac/build
PetStoryEditor.app
PetStory.app
Platforms/Mac/Game.xcodeproj/xcuserdata/playrix.xcuserdatad
Platforms/Mac/PetStory.xcodeproj/project.xcworkspace/xcuserdata/playrix.xcuserdatad
Platforms/Mac/Game.xcodeproj/xcuserdata
Platforms/Mac/PetStory.xcodeproj/project.xcworkspace/xcuserdata
Platforms/iOS/PetStory.xcodeproj/project.xcworkspace/xcuserdata
Bin/Mac/PetStoryEditor.app.dSYM
Bin/Win/Editor.pdb
Bin/Win/Editor_dbg.pdb
Bin/Win/Editor_fast_dbg.pdb
Bin/Win/Editor_fast_dbg.exe
Bin/Win/Editor_dbg.exe
Bin/Win/PetStory_dbg.exe
Bin/Win/PetStory_dbg.pdb
Bin/Win/PetStory.pdb
Platforms/iOS/PetStory.xcodeproj/xcuserdata
build
Bin/Windows/log.txt
*.pdb
Bin
.idea
cmake-build-debug
/cmake-build-release/.cmake/api/v1/query/cache-v2
/cmake-build-release/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-release/.cmake/api/v1/query/codemodel-v2
/cmake-build-release/.cmake/api/v1/query/toolchains-v1
/cmake-build-release/CMakeFiles/3.29.6/CompilerIdC/a.out
/cmake-build-release/CMakeFiles/3.29.6/CompilerIdC/CMakeCCompilerId.c
/cmake-build-release/CMakeFiles/3.29.6/CompilerIdCXX/a.out
/cmake-build-release/CMakeFiles/3.29.6/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-release/CMakeFiles/3.29.6/CMakeCCompiler.cmake
/cmake-build-release/CMakeFiles/3.29.6/CMakeCXXCompiler.cmake
/cmake-build-release/CMakeFiles/3.29.6/CMakeDetermineCompilerABI_C.bin
/cmake-build-release/CMakeFiles/3.29.6/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-release/CMakeFiles/3.29.6/CMakeSystem.cmake
/cmake-build-release/CMakeFiles/clion-environment.txt
/cmake-build-release/CMakeFiles/clion-Release-log.txt
/cmake-build-release/CMakeFiles/cmake.check_cache
/cmake-build-release/CMakeFiles/CMakeConfigureLog.yaml
/cmake-build-release/o2/Framework/3rdPartyLibs/jerryscript/jerry-core/jerryscript-config.h
/cmake-build-release/o2/Framework/3rdPartyLibs/jerryscript/jerry-core/libjerry-core.pc
/cmake-build-release/o2/Framework/3rdPartyLibs/jerryscript/jerry-ext/libjerry-ext.pc
/cmake-build-release/o2/Framework/3rdPartyLibs/jerryscript/jerry-port/default/libjerry-port-default.pc
/cmake-build-release/build.ninja
/cmake-build-release/cmake_install.cmake
/cmake-build-release/CMakeCache.txt
/cmake-build-release/compile_commands.json
/cmake-build-relwithdebinfo/.cmake/api/v1/query/cache-v2
/cmake-build-relwithdebinfo/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-relwithdebinfo/.cmake/api/v1/query/codemodel-v2
/cmake-build-relwithdebinfo/.cmake/api/v1/query/toolchains-v1
/cmake-build-relwithdebinfo/CMakeFiles/3.29.6/CompilerIdC/a.out
/cmake-build-relwithdebinfo/CMakeFiles/3.29.6/CompilerIdC/CMakeCCompilerId.c
/cmake-build-relwithdebinfo/CMakeFiles/3.29.6/CompilerIdCXX/a.out
/cmake-build-relwithdebinfo/CMakeFiles/3.29.6/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-relwithdebinfo/CMakeFiles/3.29.6/CMakeCCompiler.cmake
/cmake-build-relwithdebinfo/CMakeFiles/3.29.6/CMakeCXXCompiler.cmake
/cmake-build-relwithdebinfo/CMakeFiles/3.29.6/CMakeDetermineCompilerABI_C.bin
/cmake-build-relwithdebinfo/CMakeFiles/3.29.6/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-relwithdebinfo/CMakeFiles/3.29.6/CMakeSystem.cmake
/cmake-build-relwithdebinfo/CMakeFiles/AssetsBuilder.dir/cmake_pch.hxx
/cmake-build-relwithdebinfo/CMakeFiles/AssetsBuilder.dir/cmake_pch.hxx.cxx
/cmake-build-relwithdebinfo/CMakeFiles/Editor.dir/cmake_pch.hxx
/cmake-build-relwithdebinfo/CMakeFiles/Editor.dir/cmake_pch.hxx.cxx
/cmake-build-relwithdebinfo/CMakeFiles/EditorLib.dir/cmake_pch.hxx
/cmake-build-relwithdebinfo/CMakeFiles/EditorLib.dir/cmake_pch.hxx.cxx
/cmake-build-relwithdebinfo/CMakeFiles/GameLib.dir/cmake_pch.hxx
/cmake-build-relwithdebinfo/CMakeFiles/GameLib.dir/cmake_pch.hxx.cxx
/cmake-build-relwithdebinfo/CMakeFiles/PetStory.dir/cmake_pch.hxx
/cmake-build-relwithdebinfo/CMakeFiles/PetStory.dir/cmake_pch.hxx.cxx
/cmake-build-relwithdebinfo/CMakeFiles/clion-environment.txt
/cmake-build-relwithdebinfo/CMakeFiles/clion-RelWithDebInfo-log.txt
/cmake-build-relwithdebinfo/CMakeFiles/cmake.check_cache
/cmake-build-relwithdebinfo/CMakeFiles/CMakeConfigureLog.yaml
/cmake-build-relwithdebinfo/o2/AssetsBuildTool/CMakeFiles/o2AssetsBuilder.dir/cmake_pch.hxx
/cmake-build-relwithdebinfo/o2/AssetsBuildTool/CMakeFiles/o2AssetsBuilder.dir/cmake_pch.hxx.cxx
/cmake-build-relwithdebinfo/o2/CMakeFiles/o2Editor.dir/cmake_pch.hxx
/cmake-build-relwithdebinfo/o2/CMakeFiles/o2Editor.dir/cmake_pch.hxx.cxx
/cmake-build-relwithdebinfo/o2/CMakeFiles/o2Framework.dir/cmake_pch.hxx
/cmake-build-relwithdebinfo/o2/CMakeFiles/o2Framework.dir/cmake_pch.hxx.cxx
/cmake-build-relwithdebinfo/o2/Framework/3rdPartyLibs/jerryscript/jerry-core/jerryscript-config.h
/cmake-build-relwithdebinfo/o2/Framework/3rdPartyLibs/jerryscript/jerry-core/libjerry-core.pc
/cmake-build-relwithdebinfo/o2/Framework/3rdPartyLibs/jerryscript/jerry-ext/libjerry-ext.pc
/cmake-build-relwithdebinfo/o2/Framework/3rdPartyLibs/jerryscript/jerry-port/default/libjerry-port-default.pc
/cmake-build-relwithdebinfo/build.ninja
/cmake-build-relwithdebinfo/cmake_install.cmake
/cmake-build-relwithdebinfo/CMakeCache.txt
/cmake-build-relwithdebinfo/compile_commands.json
