/Platforms/Windows/.vs
/DataTree.xml
/Editor.exe
/Editor.pdb
/Editor_dbg.exe
/Editor_dbg.ilk
/Editor_dbg.pdb
/Editor_fast_dbg.exe
/Editor_fast_dbg.ilk
/Editor_fast_dbg.pdb
/log.txt
/PetStory.exe
/PetStory.pdb
/PetStory_dbg.exe
/PetStory_dbg.ilk
/PetStory_dbg.pdb
/PetStory_fast_dbg.exe
/PetStory_fast_dbg.ilk
/PetStory_fast_dbg.pdb
/BuiltAssets
/Platforms/Windows/Temp
/Platforms/Windows/Tmp
/Platforms/Windows/log.txt
/Platforms/Windows/App.vcxproj.user
/Platforms/Windows/DataTree.xml
/Platforms/Windows/EditorApp.vcxproj.user
/AssetsTree.xml
/Platforms/Windows/BuiltAssets.xml
/Platforms/Windows/GameEditorLib.vcxproj.user
/Platforms/Windows/GameLib.vcxproj.user
/.vs
/Platforms/Windows/PetStory.sln.DotSettings.user
/Sources/Editor/CodeToolCache.xml
/Sources/Game/CodeToolCache.xml
/PetStory.iobj
/PetStory.ipdb
/Platforms/Windows/x64/Debug/Tests.pdb
/Tests.pdb
/Tests_dbg.ilk
/Tests_dbg.pdb
/Tests_fast_dbg.ilk
/Tests_fast_dbg.pdb
/Tests_fast_dbg.exe
*.DS_Store
PetStory.app.dSYM
XCBuildData
Platforms/Mac/build
PetStoryEditor.app
PetStory.app
Platforms/Mac/Game.xcodeproj/xcuserdata/playrix.xcuserdatad
Platforms/Mac/PetStory.xcodeproj/project.xcworkspace/xcuserdata/playrix.xcuserdatad
Platforms/Mac/Game.xcodeproj/xcuserdata
Platforms/Mac/PetStory.xcodeproj/project.xcworkspace/xcuserdata
Platforms/iOS/PetStory.xcodeproj/project.xcworkspace/xcuserdata
Bin/Mac/PetStoryEditor.app.dSYM
Bin/Win/Editor.pdb
Bin/Win/Editor_dbg.pdb
Bin/Win/Editor_fast_dbg.pdb
Bin/Win/Editor_fast_dbg.exe
Bin/Win/Editor_dbg.exe
Bin/Win/PetStory_dbg.exe
Bin/Win/PetStory_dbg.pdb
Bin/Win/PetStory.pdb
Platforms/iOS/PetStory.xcodeproj/xcuserdata
build
Bin/Windows/log.txt
*.pdb
Bin
.idea
cmake-build-debug
