/Platforms/Windows/.vs
/DataTree.xml
/Editor.exe
/Editor.pdb
/Editor_dbg.exe
/Editor_dbg.ilk
/Editor_dbg.pdb
/Editor_fast_dbg.exe
/Editor_fast_dbg.ilk
/Editor_fast_dbg.pdb
/log.txt
/PetStory.exe
/PetStory.pdb
/PetStory_dbg.exe
/PetStory_dbg.ilk
/PetStory_dbg.pdb
/PetStory_fast_dbg.exe
/PetStory_fast_dbg.ilk
/PetStory_fast_dbg.pdb
/BuiltAssets
/Platforms/Windows/Temp
/Platforms/Windows/Tmp
/Platforms/Windows/log.txt
/Platforms/Windows/App.vcxproj.user
/Platforms/Windows/DataTree.xml
/Platforms/Windows/EditorApp.vcxproj.user
/AssetsTree.xml
/Platforms/Windows/BuiltAssets.xml
/Platforms/Windows/GameEditorLib.vcxproj.user
/Platforms/Windows/GameLib.vcxproj.user
/.vs
